<h1>{{ user.first_name }} {{ user.last_name }} [ user{{ user.id }} ]</h1>
<ul class="list-group">
  <li>Email: {{ user.email }}</li>
  <li>Phone: {{ user.phone }}</li>
</ul>
<div class="flex-row d-flex my-3">
  <a href="/" class="btn btn-secondary mr-3">Back</a>
  <form action="/user/delete/{{user.id}}?_method=DELETE"  method="POST">
    <input type="submit" value="Delete" class="btn btn-danger">
  </form>
</div>